@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #09090b;
  color: #ededed;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background-image: radial-gradient(circle at 50% 0%, #1a1d2d 0%, #09090b 70%);
}